.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 200px;
    background-color: #0D0D0D;

    &-logo {
        position: relative;
        margin: 0 auto;
        margin-top: 72px;

        &_rocket {
            position: absolute;
            left: -30px;
        }
    }

    &-github {
        margin-left: 10px;

        img {
            width: 30px
        }
    }
}