@media (max-width: 768px) {
    .field {
        max-width: 518px;
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .field {
        max-width: 393px;
    }
}

@media (max-width: 424px) {
    .field {
        max-width: 298px;
    }
}